<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="/images/hiveLight.png" alt="Hive Logo" width="100px"/>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/manage/unit">Manage Unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/tracker">Tracker</a>
        </li>
      </ul>

      <!-- Admin Profile Display -->
      {{#if admin.length}}
        {{#each admin}}
          <img src="{{#if this.adminProfile}}/images/upload/{{this.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}" alt="Profile" class="user-pic" onclick="toggleMenu()"/>
          <div class="sub-menu-wrap" id="subMenu">
            <div class="sub-menu">
              <div class="user-info">
                <img src="{{#if this.adminProfile}}/images/upload/{{this.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}" alt="Profile" width="40px"/>
                <h3>{{this.adminFirstName}} {{this.adminLastName}}</h3>
              </div>
              <hr/>
              <a href="/admin/dashboard/view/account" class="sub-menu-link">
                <i class="material-icons">person</i>
                <p>View Account</p>
                <span>></span>
              </a>
              <a href="#" id="logoutButton" class="sub-menu-link">
                <i class="material-icons">logout</i>
                <p>Logout</p>
                <span>></span>
              </a>
            </div>
          </div>
        {{/each}}
      {{else}}
        <!-- Fallback for no admin data -->
        <img src="/images/defaultUser.webp" alt="Profile" class="user-pic" onclick="toggleMenu()"/>
      {{/if}}
    </div>
  </div>
</nav>

<div class="container pt-5 pb-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard/userManagement">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">New Tenant</li>
    </ol>
  </nav>

  <div id="alertMessage" class="alert" style="display: none;"></div>

  <form action="/api/auth/addTenant" class="row g-3 needs-validation" method="POST" id="addForm">
    <input type="hidden" id="establishmentId" name="establishmentId" value="{{establishmentId}}">
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="tenantFirstName" value="{{tenantFirstName}}"
          placeholder="First Name" name="tenantFirstName">
        <label for="tenantFirstName">First Name</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="tenantLastName" value="{{tenantLastName}}" placeholder="Last Name"
          name="tenantLastName">
        <label for="tenantLastName">Last Name</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="email" class="form-control" id="tenantEmail" value="{{tenantEmail}}" placeholder="email@email.com"
          name="tenantEmail">
        <label for="tenantEmail">Email</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="number" class="form-control" id="mobileNum" value="{{mobileNum}}" placeholder="Phone"
          name="mobileNum">
        <label for="mobileNum">Phone</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="tenantPassword" value="{{tenantPassword}}"
          placeholder="Password" name="tenantPassword">
        <label for="tenantPassword">Password</label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="tenantConfirmPassword" value="{{tenantConfirmPassword}}"
          placeholder="Confirm Password" name="tenantConfirmPassword">
        <label for="tenantConfirmPassword">Confirm Password</label>
      </div>
    </div>
    <div class="col-6">
      <select class="form-select" name="gender" id="gender" required>
        <option value="" disabled>Select Gender</option>
        <option value="F" {{#if (eq gender "Female" )}}selected{{/if}}>Female</option>
        <option value="M" {{#if (eq gender "Male" )}}selected{{/if}}>Male</option>
        <option value="Other" {{#if (eq gender "Other" )}}selected{{/if}}>Other</option>
      </select>
    </div>
    <div class="col-12"> 
      <button class="btn btn-primary" id="addButton" type="submit">
        Add
      </button>
    </div>
  </form>
</div>

<script src="/js/addTenants.js"></script>