<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
        </li>
        <li class="nav-item">
          <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/tracker">Tracker</a>
        </li>
      </ul>

      <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" onclick="toggleMenu()" />
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img
              src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" />
            <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
          </div>
          <hr />
          <a href="/admin/dashboard/view/account" class="sub-menu-link">
            <i class="material-icons">person</i>
            <p>View Account</p>
            <span>></span>
          </a>
          <a href="/admin/visitors/log" class="sub-menu-link">
            <i class="material-icons">account_box</i>
            <p>Visitors Log</p>
            <span>></span>
          </a>
          <a href="/admin/visitors/pending" class="sub-menu-link">
            <i class="material-icons">schedule</i>
            <p>Pending Requests</p>
            <span>></span>
          </a>
          <a href="/admin/maintenance" class="sub-menu-link">
            <i class="material-icons">build</i>
            <p>Maintenance Requests</p>
            <span>></span>
          </a>
          <a href="/admin/settings" class="sub-menu-link">
            <i class="material-icons">settings</i>
            <p>Account Settings</p>
            <span>></span>
          </a>
          <a href="#" id="logoutButton" class="sub-menu-link">
            <i class="material-icons">logout</i>
            <p>Logout</p>
            <span>></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container pt-5 pb-5">
  <h1 class="container-title"><i class="fa-regular fa-id-card modal-icon"></i>Visitors Log</h1>

  <div class="pendings-container">
    <table class="table table-bordered maintenance">
      <thead>
        <tr>
          <th scope="col"><i class="material-icons">person</i>Visitor's Name</th>
          <th scope="col"><i class="material-icons">schedule</i>Check-in & Out</th>
          <th scope="col"><i class="material-icons">calendar_month</i>Date</th>
          <th scope="col"><i class="material-icons">call</i>Mobile No.</th>
          <th scope="col"><i class="material-icons">location_on</i>Purpose of Visit</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="profile"></div>
            <div class="person-deets">
              <h6>Angelica Payne</h6>
              <p>Room 204</p>
            </div>
          </td>
          <td>7:08 PM ───── 8:09 AM</td>
          <td>January 21 - 22, 2025</td>
          <td>09123456789</td>
          <td>Group Project</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<script src="/js/adminVisitors.js"></script>

<script>
  window.onload = function () {
    const theme = localStorage.getItem('theme');

    const logo = document.getElementById('logo');

    if (theme === 'dark') {
      logo.src = '/images/hiveDark.png';
    } else {
      logo.src = '/images/hiveLight.png';
    }
  };
</script>