<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/tracker">Tracker</a>
        </li>
      </ul>

      <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" onclick="toggleMenu()" />
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img
              src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" />
            <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
          </div>
          <hr />
          <a href="/admin/dashboard/view/account" class="sub-menu-link">
            <i class="material-icons">person</i>
            <p>View Account</p>
            <span>></span>
          </a>
          <a href="#" id="logoutButton" class="sub-menu-link">
            <i class="material-icons">logout</i>
            <p>Logout</p>
            <span>></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container pt-5 pb-5">
  <div class="row">
    <!-- Tenant Information -->
    <div class="col-4" id="left" style="flex: 0 0 30%; max-width: 30%;">
      <h3>Tenant Information
        <a href="/admin/dashboard/userManagement">
          <i class="material-icons">open_in_new</i>
        </a>
      </h3>

      <form class="d-flex" id="tenantSearchForm" role="search" method="POST" action="#" novalidate>
        <input class="form-control me-2" type="search" placeholder="Search" name="searchTenants" aria-label="Search"
          required id="searchTenantsInput">
        <button class="btn btn-outline-success btn-sm" type="submit">Search</button>
      </form>

      <div class="tenant-cards" id="tenantCardsContainer">
        {{#if tenants.length}}
        {{#each tenants}}
        <a href="#" class="card-link" data-id="{{tenant_id}}" onclick="openTenantModal({{tenant_id}})">
          <div class="card mb-3">
            <div class="card-body">
              <img
                src="{{#if this.tenantProfile}}/images/upload/{{this.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                alt="Profile" width="40px" class="me-2" />
              <h5 class="card-title d-inline">{{this.tenantFirstName}} {{this.tenantLastName}}</h5>
            </div>
          </div>
        </a>
        {{/each}}
        {{else}}
        <p>No active tenants found.</p>
        {{/if}}
      </div>
    </div>

    <!-- Admin Profile -->
    <div class="col-4" id="middle" style="flex: 0 0 40%; max-width: 40%;">
      <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" />
      <h2>Hi, {{admin.adminFirstName}}</h2>
      <h6>Here's an overview of your properties</h6>
    </div>

    <h3 class="announce-title">Announcements
      <a href="/admin/announcements">
        <i class="material-icons">open_in_new</i>
      </a>
    </h3>
    <div class="announcement-container" id="announcement-container">
      {{#if notices.length}}
      {{#each notices}}
      <div class="notice-card">
        <h5>{{this.title}}</h5>
        <p>{{this.content}}</p>
        <p>{{this.updated_at}}</p>
      </div>
      {{/each}}
      {{else}}
      <p>No notices available at the moment.</p>
      {{/if}}
    </div>

    <h3 class="tracker-title">Tracker
      <a href="/admin/tracker">
        <i class="material-icons">open_in_new</i>
      </a>
    </h3>
    <div class="tracker-container" id="tracker-container">
      {{#if events.length}}
      {{#each events}}
      <div class="event-card">
        <h5>{{this.event_name}}</h5>
        <p><strong>Start:</strong> {{this.start}}</p>
        <p><strong>End:</strong> {{this.end}}</p>
        <p><strong>Description:</strong> {{this.event_description}}</p>
        <p><strong>Status:</strong> {{this.status}}</p>
      </div>
      {{/each}}
      {{else}}
      <p>No events available at the moment.</p>
      {{/if}}
    </div>


    <!-- Links and Navigation -->
    <div class="col-4 right" id="right" style="flex: 0 0 30%; max-width: 30%;">
      <h1>Analytics Section</h1>
    </div>
  </div>
</div>

<div class="modal" id="tenantModal" tabindex="-1" aria-labelledby="tenantModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-right">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="tenantModalLabel">Tenant Details</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Tenant details will be dynamically inserted here by JavaScript -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<script src="/js/adminDashboard.js"></script>
<script>
  window.establishmentId = {{ establishmentId }};
</script>