<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/announcements">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker">Tracker</a>
                </li>
            </ul>

            <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                alt="Profile" class="user-pic" onclick="toggleMenu()" />
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                            alt="Profile" width="40px" />
                        <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
                    </div>
                    <hr />
                    <a href="/admin/dashboard/view/account" class="sub-menu-link">
                        <i class="material-icons">person</i>
                        <p>View Account</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/log" class="sub-menu-link">
                        <i class="material-icons">account_box</i>
                        <p>Visitors Log</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/pending" class="sub-menu-link">
                        <i class="material-icons">schedule</i>
                        <p>Pending Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/maintenance" class="sub-menu-link">
                        <i class="material-icons">build</i>
                        <p>Maintenance Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/settings" class="sub-menu-link">
                        <i class="material-icons">settings</i>
                        <p>Account Settings</p>
                        <span>></span>
                    </a>
                    <a href="#" id="logoutButton" class="sub-menu-link">
                        <i class="material-icons">logout</i>
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container pt-5 pb-5">
    <h1 class="container-title"><i class="fa-solid fa-gear modal-icon"></i>Account Settings</h1>

    <div class="pages-container">
        <a href="/admin/settings" id="appearance-link" data-path="/admin/settings">
            <button class="pages-link">Appearance</button>
        </a>
        <a href="/admin/settings/feedback-support" id="feedback-link" data-path="/admin/settings/feedback-support">
            <button class="pages-link">Feedback &amp; Support</button>
        </a>
        <a href="/admin/settings/password-reset" id="password-link" data-path="/admin/settings/password-reset">
            <button class="pages-link">Password Reset</button>
        </a>
        <a href="/admin/settings/delete-account/{{admin_id}}" id="delete-link" data-path="/admin/settings/delete-account">
            <button class="pages-link">Delete Account</button>
        </a>
    </div>


    <div class="top">
        <h3 class="appearance-title">Appearance</h3>
        <p>Change how your dashboard looks and feels.</p>
    </div>

    <hr />

    <div class="middle">
        <div class="middle-left">
            <h3 class="appearance-title">Preference Mode</h3>
            <p>Adjust the apperance of Hive to reduce glare and <br /> give your eyes a break.</p>
        </div>

        <div class="choose-style-container middle-right">
            <div class="style-options">
                <!-- Light Mode Option -->
                <div class="style-option light-mode">
                    <div class="icon-container light-mode-icon"></div>
                    <p class="mode-text">Light Mode</p>
                    <label class="toggle-switch">
                        <input type="radio" name="mode" value="light" id="lightModeRadio" checked>
                        <span class="slider"></span>
                    </label>
                </div>
                <!-- Dark Mode Option -->
                <div class="style-option dark-mode">
                    <div class="icon-container dark-mode-icon"></div>
                    <p class="mode-text">Dark Mode</p>
                    <label class="toggle-switch">
                        <input type="radio" name="mode" value="dark" id="darkModeRadio">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
        </div>
    </div>

    <hr />

    <div class="bottom">
        <div class="bottom-left">
            <label for="fontSize" class="appearance-title">Font Size</label>
            <select id="fontSize" name="fontSize">
                <option value=""></option>
                <option value="small">Small</option>
                <option value="medium">Medium</option>
                <option value="large">Large</option>
                <option value="x-large">Extra Large</option>
            </select>
        </div>
        <div class="bottom-right">
            <label for="zoomDisplay" class="appearance-title">Zoom Display</label>
            <select id="zoomDisplay" name="zoomDisplay">
                <option value=""></option>
                <option value="90">90%</option>
                <option value="100">100%</option>
                <option value="110">110%</option>
                <option value="125">125%</option>
                <option value="150">150%</option>
            </select>
        </div>
    </div>

</div>

<script src="/js/adminSettings.js"></script>
<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>


{{!-- </div>

<div class="pageContainer">
    <div class="toggle-btn" id="btn">
        <span id="btnText">Dark</span>
        <i class="material-icons" id="btnIcon">dark_mode</i>
    </div>
    <p>Toggle dark mode settings here. Click the button to switch modes.</p>
</div>
</div>
</div> --}}