<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
        </li>
        <li class="nav-item">
          <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/tracker">Tracker</a>
        </li>
      </ul>

      <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" onclick="toggleMenu()" />
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img
              src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" />
            <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
          </div>
          <hr />
          <a href="/admin/dashboard/view/account" class="sub-menu-link">
            <i class="material-icons">person</i>
            <p>View Account</p>
            <span>></span>
          </a>
          <a href="/admin/visitors/log" class="sub-menu-link">
            <i class="material-icons">account_box</i>
            <p>Visitors Log</p>
            <span>></span>
          </a>
          <a href="/admin/visitors/pending" class="sub-menu-link">
            <i class="material-icons">schedule</i>
            <p>Pending Requests</p>
            <span>></span>
          </a>
          <a href="/admin/maintenance" class="sub-menu-link">
            <i class="material-icons">build</i>
            <p>Maintenance Requests</p>
            <span>></span>
          </a>
          <a href="/admin/settings" class="sub-menu-link">
            <i class="material-icons">settings</i>
            <p>Account Settings</p>
            <span>></span>
          </a>
          <a href="#" id="logoutButton" class="sub-menu-link">
            <i class="material-icons">logout</i>
            <p>Logout</p>
            <span>></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container pt-5 pb-5">
  <h1 class="container-title"><i class="material-icons modal-icon">schedule</i>Pending Requests</h1>

  <div class="row-container">
    <a href="#" data-bs-toggle="modal" data-bs-target="#deetsModal" aria-label="View Tenant Details">
      <div class="card mb-3">
        <div class="card-header">
          <img
            src="{{#if tenants.tenantProfile}}/images/upload/{{tenants.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
            alt="Profile" width="40px" class="me-2" />
          <h5 class="card-title d-inline">Tenant A</h5>
        </div>
        <div class="card-body">
          <p class="preview-word">Preview</p>
          <div class="preview-container">
            <div class="preview-info">
              <p class="title">Name of Visitor</p>
              <p>Angelica Payne</p>
            </div>
            <div class="preview-info">
              <p class="title">Type of Visit</p>
              <p>Overnight</p>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="#" data-bs-toggle="modal" data-bs-target="#deetsModal" aria-label="View Tenant Details">
      <div class="card mb-3">
        <div class="card-header">
          <img
            src="{{#if tenants.tenantProfile}}/images/upload/{{tenants.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
            alt="Profile" width="40px" class="me-2" />
          <h5 class="card-title d-inline">Tenant A</h5>
        </div>
        <div class="card-body">
          <p class="preview-word">Preview</p>
          <div class="preview-container">
            <div class="preview-info">
              <p class="title">Name of Visitor</p>
              <p>Angelica Payne</p>
            </div>
            <div class="preview-info">
              <p class="title">Type of Visit</p>
              <p>Overnight</p>
            </div>
          </div>
        </div>
      </div>
    </a>

    <a href="#" data-bs-toggle="modal" data-bs-target="#deetsModal" aria-label="View Tenant Details">
      <div class="card mb-3">
        <div class="card-header">
          <img
            src="{{#if tenants.tenantProfile}}/images/upload/{{tenants.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
            alt="Profile" width="40px" class="me-2" />
          <h5 class="card-title d-inline">Tenant A</h5>
        </div>
        <div class="card-body">
          <p class="preview-word">Preview</p>
          <div class="preview-container">
            <div class="preview-info">
              <p class="title">Name of Visitor</p>
              <p>Angelica Payne</p>
            </div>
            <div class="preview-info">
              <p class="title">Type of Visit</p>
              <p>Overnight</p>
            </div>
          </div>
        </div>
      </div>
    </a>

    <div class="row-container">
      <a href="#" data-bs-toggle="modal" data-bs-target="#deetsModal" aria-label="View Tenant Details">
        <div class="card mb-3">
          <div class="card-header">
            <img
              src="{{#if tenants.tenantProfile}}/images/upload/{{tenants.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" class="me-2" />
            <h5 class="card-title d-inline">Tenant A</h5>
          </div>
          <div class="card-body">
            <p class="preview-word">Preview</p>
            <div class="preview-container">
              <div class="preview-info">
                <p class="title">Name of Visitor</p>
                <p>Angelica Payne</p>
              </div>
              <div class="preview-info">
                <p class="title">Type of Visit</p>
                <p>Overnight</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="#" data-bs-toggle="modal" data-bs-target="#deetsModal" aria-label="View Tenant Details">
        <div class="card mb-3">
          <div class="card-header">
            <img
              src="{{#if tenants.tenantProfile}}/images/upload/{{tenants.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" class="me-2" />
            <h5 class="card-title d-inline">Tenant A</h5>
          </div>
          <div class="card-body">
            <p class="preview-word">Preview</p>
            <div class="preview-container">
              <div class="preview-info">
                <p class="title">Name of Visitor</p>
                <p>Angelica Payne</p>
              </div>
              <div class="preview-info">
                <p class="title">Type of Visit</p>
                <p>Overnight</p>
              </div>
            </div>
          </div>
        </div>
      </a>

      <a href="#" data-bs-toggle="modal" data-bs-target="#deetsModal" aria-label="View Tenant Details">
        <div class="card mb-3">
          <div class="card-header">
            <img
              src="{{#if tenants.tenantProfile}}/images/upload/{{tenants.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" class="me-2" />
            <h5 class="card-title d-inline">Tenant A</h5>
          </div>
          <div class="card-body">
            <p class="preview-word">Preview</p>
            <div class="preview-container">
              <div class="preview-info">
                <p class="title">Name of Visitor</p>
                <p>Angelica Payne</p>
              </div>
              <div class="preview-info">
                <p class="title">Type of Visit</p>
                <p>Overnight</p>
              </div>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>

  {{!-- assign modal --}}
  <div class="modal fade" id="deetsModal" tabindex="-1" aria-labelledby="deetsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-right">
      <div class="modal-content custom-height">
        <div class="modal-top">
          <h5 class="modal-title" id="assignModalLabel">Details</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">x</button>
          <div class="tenant-info">
            <img
              src="{{#if tenants.tenantProfile}}/images/upload/{{tenants.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" class="modal-picture" />
            <h5 class="modal-card-title">Tenant A</h5>
          </div>
          <hr class="modal-hr">
          <p class="roomNum">Room Number: 402</p>
        </div>
        <div class="modal-bottom">
          <h3>Visitor's Information</h3>

          <div class="deets-container first">
            <div class="deets-info first-info">
              <p class="deets-title">First Name</p>
              <p>Angelica</p>
            </div>
            <div class="deets-info">
              <p class="deets-title">Last Name</p>
              <p>Payne</p>
            </div>
          </div>

          <div class="deets-container">
            <div class="deets-info first-info">
              <p class="deets-title">Type of Visit</p>
              <p>Overnight</p>
            </div>
            <div class="deets-info">
              <p class="deets-title">Association with Tenant</p>
              <p>Classmate</p>
            </div>
          </div>

          <div class="deets-container">
            <div class="deets-info first-info">
              <p class="deets-title">Date</p>
              <p>Jan 21 - 22, 2025</p>
            </div>
            <div class="deets-info">
              <p class="deets-title">Purpose of Visit</p>
              <p>Group Project</p>
            </div>
          </div>

          <div class="deets-container">
            <div class="deets-info first-info">
              <p class="deets-title">Time Check In</p>
              <p>6:30 PM</p>
            </div>
            <div class="deets-info">
              <p class="deets-title">Time Check Out</p>
              <p>7:30 AM</p>
            </div>
          </div>

          <div class="deets-container">
            <div class="deets-info first-info">
              <p class="deets-title">Mobile No.</p>
              <p>09123456789</p>
            </div>
          </div>

          <div class="button-container">
            <button type="submit" class="btn btn-secondary">Reject</button>
            <button type="submit" class="btn btn-primary">Approve</button>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<script src="/js/adminPendings.js"></script>

<script>
  window.onload = function () {
    const theme = localStorage.getItem('theme');

    const logo = document.getElementById('logo');

    if (theme === 'dark') {
      logo.src = '/images/hiveDark.png';
    } else {
      logo.src = '/images/hiveLight.png';
    }
  };
</script>