<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Tracker</a>
        </li>
      </ul>

      {{#each admins}}
      <img src="{{#if this.adminProfile}}/images/upload/{{this.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" onclick="toggleMenu()" />
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img src="{{#if this.adminProfile}}/images/upload/{{this.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" />
            <h3>{{this.adminFirstName}} {{this.adminLastName}}</h3>
          </div>
          <hr />
          <a href="/admin/dashboard/view/account" class="sub-menu-link">
            <i class="material-icons">person</i>
            <p>View Account</p>
            <span>></span>
          </a>
          <a href="#" id="logoutButton" class="sub-menu-link">
            <i class="material-icons">logout</i>
            <p>Logout</p>
            <span>></span>
          </a>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</nav>

<div class="container pt-5 pb-5">
  <div class="row">
    <!-- Tenant Information -->
    <div class="col-4" id="left" style="flex: 0 0 30%; max-width: 30%;">
      <h3>Tenant Information
        <a href="/admin/dashboard/userManagement">
          <i class="material-icons">open_in_new</i>
        </a>
      </h3>

      <form class="d-flex" role="search" method="POST" action="/admin/dashboard" novalidate>
        <input class="form-control me-2" type="search" placeholder="Search" name="searchTenants" aria-label="Search"
          required value="{{lastSearchTerm}}">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <div class="tenant-cards">
        {{#if tenants.length}}
          {{#each tenants}}
          <a href="/admin/tenant/{{this.tenantId}}" class="card-link">
            <div class="card mb-3">
              <div class="card-body">
                <img src="{{#if this.tenantProfile}}/images/upload/{{this.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                  alt="Profile" width="40px" class="me-2" />
                <h5 class="card-title d-inline">{{this.tenantFirstName}} {{this.tenantLastName}}</h5>
              </div>
            </div>
          </a>
          {{/each}}
        {{else}}
          <p>No active tenants found.</p>
        {{/if}}
      </div>
    </div>

    <!-- Admin Profile -->
    {{#each admins}}
    <div class="col-4" id="middle" style="flex: 0 0 35%; max-width: 35%;">
      <img src="{{#if this.adminProfile}}/images/upload/{{this.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" />
      <h2>Hi, {{this.adminFirstName}}</h2>
    </div>
    {{/each}}

    <!-- Links and Navigation -->
    <div class="col-4 right" id="right" style="flex: 0 0 35%; max-width: 35%;">
      <h1>Analytics dito</h1>
    </div>
  </div>
</div>

<script src="/js/adminDashboard.js"></script>
