<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/announcements">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker">Tracker</a>
                </li>
            </ul>

            <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                alt="Profile" class="user-pic" onclick="toggleMenu()" />
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                            alt="Profile" width="40px" />
                        <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
                    </div>
                    <hr />
                    <a href="/admin/dashboard/view/account" class="sub-menu-link">
                        <i class="material-icons">person</i>
                        <p>View Account</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/log" class="sub-menu-link">
                        <i class="material-icons">account_box</i>
                        <p>Visitors Log</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/pending" class="sub-menu-link">
                        <i class="material-icons">schedule</i>
                        <p>Pending Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/maintenance" class="sub-menu-link">
                        <i class="material-icons">build</i>
                        <p>Maintenance Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/settings" class="sub-menu-link">
                        <i class="material-icons">settings</i>
                        <p>Account Settings</p>
                        <span>></span>
                    </a>
                    <a href="#" id="logoutButton" class="sub-menu-link">
                        <i class="material-icons">logout</i>
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container pt-5 pb-5">
    <h1 class="container-title"><i class="fa-solid fa-gear modal-icon"></i>Account Settings</h1>

    <div class="pages-container">
        <a href="/admin/settings" id="appearance-link" data-path="/admin/settings">
            <button class="pages-link">Appearance</button>
        </a>
        <a href="/admin/settings/feedback-support" id="feedback-link" data-path="/admin/settings/feedback-support">
            <button class="pages-link">Feedback &amp; Support</button>
        </a>
        <a href="/admin/settings/password-reset" id="password-link" data-path="/admin/settings/password-reset">
            <button class="pages-link">Password Reset</button>
        </a>
        <a href="/admin/settings/activity-log/{{admin_id}}" id="activity-link" data-path="/admin/settings/activity-log">
            <button class="pages-link">Activity Log</button>
        </a>
        <a href="/admin/settings/delete-account/{{admin_id}}" id="delete-link" data-path="/admin/settings/delete-account">
            <button class="pages-link">Delete Account</button>
        </a>
    </div>

    <div class="form-container">
        <div class="upper">
            <div class="upper-left">
                <i class="fa-solid fa-trash trash-icon"></i>
            </div>
            <div class="upper-right">
                <h3>Delete Profile?</h3>
                <p>You'll permanently lose your:</p>
                <ul>
                    <li>Profile</li>
                    <li>Messages</li>
                    <li>Photos</li>
                </ul>
            </div>
        </div>

        <div class="lower">
            <a href="#" onclick="deleteAdmin({{admin_id}}); return false;" class="btn btn-delete btn-sm">
                Delete Account
            </a>
        </div>
    </div>
</div>


<script src="/js/deleteAdmin.js"></script>
<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>

{{!-- <div class="pageContainer">
    <p>Delete your account permanently.</p>
    <a href="#" onclick="deleteAdmin({{admin_id}}); return false;" class="btn btn-delete btn-sm">
        Delete Account
    </a>
</div> --}}