<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="/images/hiveLight.png" alt="Hive Logo" width="100px"/>
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Manage Tenant</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Manage Unit</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Announcements</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Tracker</a>
        </li>
      </ul>
      <img src="/images/defaultUser.webp" alt="Profile" class="user-pic" onclick="toggleMenu()"/>
      <div class="sub-menu-wrap" id="subMenu">
      <div class="sub-menu">
        <div class="user-info">
          <img src="/images/defaultUser.webp" alt="Profile" width="40px"/>
          {{#each rows}}
          <h3>{{this.adminFirstName}} {{this.adminLastName}}</h3>
          {{/each}}
        </div>
        <hr/>

        <a href="#" class="sub-menu-link">
          <i class="material-icons">person</i>
          <p>Edit Account</p>
          <span>></span>
        </a>
        <a href="#" id="logoutButton" class="sub-menu-link">
          <i class="material-icons">logout</i>
          <p>Logout</p>
          <span>></span>
        </a>
      </div>
    </div>
    </div>
  </div>
</nav>

{{#each rows}}
<div class="container">
    <form id="updateAdminForm" action="/admin/dashboard/edit/account" method="POST" encType="multipart/form-data">
        <h3>Upload Profile Picture</h3>
        <input type="file" name="sampleFile" accept="image/*"/>
        <input type="hidden" name="admin_id" value="{{this.admin_id}}"/>
        <input type="submit" class="btn btn-primary upload">
    </form>

    <div class="card">
        {{#if this.adminProfile}}
            <img class="card__profile" src="/images/upload/{{this.adminProfile}}" alt="User Profile">
        {{else}}
            <img class="card__profile" src="/images/defaultUser.webp" alt="User Profile">
        {{/if}}
        <h1 class="card__title">{{this.adminFirstName}}</h1>
        <div class="card__email">{{this.adminEmail}}</div>
        <p class="card__about">{{this.eName}}</p>
        <button type="button" class="btn btn-primary view">View Profile</button>
    </div>
</div>
{{/each}}

<script src="/js/editAdminAccount.js"></script>