<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/dashboard/userManagement">Manage Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
        </li>
        <li class="nav-item">
          <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/tracker">Tracker</a>
        </li>
      </ul>

      <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" onclick="toggleMenu()" />
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img
              src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" />
            <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
          </div>
          <hr />
          <a href="/admin/dashboard/view/account" class="sub-menu-link">
            <i class="material-icons">person</i>
            <p>View Account</p>
            <span>></span>
          </a>
          <a href="/admin/settings" class="sub-menu-link">
            <i class="material-icons">settings</i>
            <p>Settings</p>
            <span>></span>
          </a>
          <a href="#" id="logoutButton" class="sub-menu-link">
            <i class="material-icons">logout</i>
            <p>Logout</p>
            <span>></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container pt-5 pb-5">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="/admin/dashboard/userManagement">Manage Tenant</a></li>
      <li class="breadcrumb-item active" aria-current="page">Edit</li>
    </ol>
  </nav>

  {{#each rows}}
  <form action="/api/auth/editTenant/{{this.tenant_id}}" id="editForm" class="row g-3 needs-validation" method="POST">
    <input type="hidden" name="tenantId" id="tenantId" value="{{this.tenant_id}}">


    <div class="row mb-3">
      <div class="col">
        <label for="editFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control form-control-sm" id="editFirstName" name="tenantFirstName"
          value="{{this.tenantFirstName}}">
      </div>
      <div class="col">
        <label for="editLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control form-control-sm" id="editLastName" name="tenantLastName"
          value="{{this.tenantLastName}}">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="editEmail" class="form-label">Email</label>
        <input type="email" class="form-control form-control-sm" id="editEmail" name="tenantEmail"
          value="{{this.tenantEmail}}">
      </div>
      <div class="col">
        <label for="editTenantAddress" class="form-label">Address</label>
        <input type="text" class="form-control form-control-sm" id="editTenantAddress" name="tenantAddress"
          value="{{this.tenantAddress}}">
      </div>
    </div>

    <div class="row mb-3">
      <div class="col">
        <label for="editGender" class="form-label">Gender</label>
        <select class="form-select form-select-sm" name="gender" id="editGender">
          <option value="F" {{#if (eq this.gender "F" )}}selected{{/if}}>Female</option>
          <option value="M" {{#if (eq this.gender "M" )}}selected{{/if}}>Male</option>
          <option value="Other" {{#if (eq this.gender "Other" )}}selected{{/if}}>Other</option>
        </select>
      </div>
      <div class="col">
        <label for="editMobile" class="form-label">Mobile Number</label>
        <input type="text" class="form-control form-control-sm" id="editMobile" name="mobileNum"
          value="{{this.mobileNum}}">
      </div>
    </div>


    <!-- Combined Guardian's Name and Mobile Number in a single row -->
    <div class="row mb-3">
      <div class="col">
        <label for="editTenantGuardianName" class="form-label">Guardian's Name</label>
        <input type="text" class="form-control form-control-sm" id="editTenantGuardianName" name="tenantGuardianName"
          value="{{this.tenantGuardianName}}">
      </div>
      <div class="col">
        <label for="editTenantGuardianNum" class="form-label">Guardian's Mobile Number</label>
        <input type="text" class="form-control form-control-sm" id="editTenantGuardianNum" name="tenantGuardianNum"
          value="{{this.tenantGuardianNum}}">
      </div>
    </div>
    <div class="d-flex justify-content-end mt-3">
      <button type="button" id="closeButton" class="btn btn-secondary btn-sm me-2">Close</button>
      <button id="editTenantButton" type="submit" class="btn btn-primary btn-sm">Save changes</button>
    </div>
  </form>
  {{/each}}
</div>

<script src="/js/editTenant.js"></script>
<script>
    window.onload = function() {
    const theme = localStorage.getItem('theme');

    const logo = document.getElementById('logo');

    if (theme === 'dark') {
        logo.src = '/images/hiveDark.png';
    } else {
        logo.src = '/images/hiveLight.png';
    }
};
</script>