<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/announcements">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker">Tracker</a>
                </li>
            </ul>

            <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                alt="Profile" class="user-pic" onclick="toggleMenu()" />
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                            alt="Profile" width="40px" />
                        <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
                    </div>
                    <hr />
                    <a href="/admin/dashboard/view/account" class="sub-menu-link">
                        <i class="material-icons">person</i>
                        <p>View Account</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/log" class="sub-menu-link">
                        <i class="material-icons">account_box</i>
                        <p>Visitors Log</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/pending" class="sub-menu-link">
                        <i class="material-icons">schedule</i>
                        <p>Pending Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/maintenance" class="sub-menu-link">
                        <i class="material-icons">build</i>
                        <p>Maintenance Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/settings" class="sub-menu-link">
                        <i class="material-icons">settings</i>
                        <p>Account Settings</p>
                        <span>></span>
                    </a>
                    <a href="#" id="logoutButton" class="sub-menu-link">
                        <i class="material-icons">logout</i>
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container pt-5 pb-5">
    <h1 class="container-title"><i class="fa-solid fa-gear modal-icon"></i>Account Settings</h1>

    <div class="pages-container">
        <a href="/admin/settings" id="appearance-link" data-path="/admin/settings">
            <button class="pages-link">Appearance</button>
        </a>
        <a href="/admin/settings/feedback-support" id="feedback-link" data-path="/admin/settings/feedback-support">
            <button class="pages-link">Feedback &amp; Support</button>
        </a>
        <a href="/admin/settings/password-reset" id="password-link" data-path="/admin/settings/password-reset">
            <button class="pages-link">Password Reset</button>
        </a>
        <a href="/admin/settings/activity-log/{{admin_id}}" id="activity-link" data-path="/admin/settings/activity-log">
            <button class="pages-link">Activity Log</button>
        </a>
        <a href="/admin/settings/delete-account/{{admin_id}}" id="delete-link" data-path="/admin/settings/delete-account">
            <button class="pages-link">Delete Account</button>
        </a>
    </div>

    <div class="form-container">
        <h3>Feedback Form</h3>
        <p>Rate your experience and help us improve with your feedback.</p>

        <form id="feedbackForm">
            <label for="userName">Name:</label>
            <input type="text" id="userName" name="userName" placeholder="Enter your name" required>

            <div class="emoji-feedback">
                <p>How would you rate your experience?</p>
                <div class="emoji-row">
                    <label>
                        <input type="radio" name="feedback" id="feedback" value="1" required>
                        <div class="emoji-container">
                            <span class="emoji">😞</span>
                            <span class="label-text">Worst</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="feedback" id="feedback" value="2">
                        <div class="emoji-container">
                            <span class="emoji">😟</span>
                            <span class="label-text">Not Good</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="feedback" id="feedback" value="3">
                        <div class="emoji-container">
                            <span class="emoji">😐</span>
                            <span class="label-text">Fine</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="feedback" id="feedback" value="4">
                        <div class="emoji-container">
                            <span class="emoji">🙂</span>
                            <span class="label-text">Look Good</span>
                        </div>
                    </label>
                    <label>
                        <input type="radio" name="feedback" id="feedback" value="5">
                        <div class="emoji-container">
                            <span class="emoji">😃</span>
                            <span class="label-text">Very Good</span>
                        </div>
                    </label>
                </div>
            </div>
            <textarea name="content" placeholder="Optional comments..."></textarea>

            <button type="submit">Submit Feedback</button>
        </form>
    </div>
</div>

<script src="/js/feedback.js"></script>
<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>

