<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/admin/manage/unit">Manage Unit</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/announcements">Announcements</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/admin/tracker">Tracker</a>
        </li>
      </ul>
      <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
        alt="Profile" class="user-pic" onclick="toggleMenu()" />
      <div class="sub-menu-wrap" id="subMenu">
        <div class="sub-menu">
          <div class="user-info">
            <img
              src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
              alt="Profile" width="40px" />
            <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
          </div>
          <hr />
          <a href="/admin/dashboard/view/account" class="sub-menu-link">
            <i class="material-icons">person</i>
            <p>View Account</p>
            <span>></span>
          </a>
          <a href="#" id="logoutButton" class="sub-menu-link">
            <i class="material-icons">logout</i>
            <p>Logout</p>
            <span>></span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>








<div class="container pt-5 pb-5">
  <div class="row">
    <div class="row align-items-center">
      <div class="col-6">
        <div class="header-content">
          <i class="material-icons title-icon">lock_open</i>
          <h1>Unit Management</h1>
        </div>
        <p>Occupied Units: <span style="color: rgb(122, 75, 71);">{{occupiedUnits}}</span></p>
      </div>
      <div class="col-6">
        <div class="d-flex justify-content-end align-items-center gap-2">
          <form class="d-flex" role="search" method="POST" action="/api/auth/find-units" novalidate>
          <input type="hidden" name="establishmentId" value="{{establishmentId}}">
            <div class="search-bar">
              <input class="form-control me-2" type="search" id="search" autocomplete="off" placeholder="Search" name="searchUnits"
                value="{{lastSearchTerm}}">
              <span class="search-icon">
                <i class="material-icons">search</i>
              </span>
            </div>
          </form>
          <a href="/admin/manage/unit/add" type="button" class="btn add-room-button">+ Add Room</a>
        </div>
      </div>
    </div>
  </div>

  <div class="table-container table-responsive" style="max-height: 400px; overflow-y: auto;">
    <table class="table table-bordered">
      <thead class="maroon-header">
        <tr>
          <th>#</th>
          <th>Floor Number</th>
          <th>Room Number</th>
          <th>Room Type</th>
          <th>Room Total Slot</th>
          <th>Remaining Slot</th>
          <th class="text-end">Action</th>
        </tr>
      </thead>
      <tbody id="results">
        {{!-- {{#if units.length}}
        {{#each units}}
        <tr>
          <th>{{this.room_id}}</th>
          <td>{{this.floorNumber}}</td>
          <td>{{this.roomNumber}}</td>
          <td>{{this.roomType}}</td>
          <td>{{this.roomTotalSlot}}</td>
          <td>{{this.roomRemainingSlot}}</td>
          <td class="text-end">
            <a href="#" data-bs-toggle="modal" data-bs-target="#manageUnitModal"
              onclick="loadTenants('{{this.room_id}}')" class="btn manage-button btn-small">Manage</a>
            <a href="#" type="button" onclick="deleteUnit('{{this.room_id}}')"
              class="btn delete-button btn-small">Delete</a>
          </td>
        </tr>
        {{/each}}
        {{else}}
        <tr>
          <td colspan="7" class="text-center">No rooms found</td>
        </tr>
        {{/if}} --}}
      </tbody>
    </table>
  </div>
</div>

<!-- Modal for Manage Unit -->
<div class="modal fade" id="manageUnitModal" tabindex="-1" aria-labelledby="manageUnitModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="manageUnitModalLabel">Tenant List</h5>
        <p class="totalSlot">Total Slot: <span id="totalSlot"></span></p>
        <p class="rentedSlot">Rented: <span id="rentedSlot"></span></p>
        <p class="remainingSlot">Remaining: <span id="remainingSlot"></span></p>
      </div>
      <div class="modal-body">
        <table class="table table-bordered">
          <thead class="maroon-header">
            <tr>
              <th scope="col">Tenant ID#</th>
              <th scope="col">Tenant Name</th>
              <th scope="col">Rent From</th>
              <th scope="col">Rent Until</th>
              <th scope="col">Period Remaining</th>
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>
          <tbody id="tenantList">
            <!-- JavaScript will insert tenant rows here -->
          </tbody>
        </table>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<script src="/js/manageUnits.js"></script>