<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/announcements">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker">Tracker</a>
                </li>
            </ul>

            <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                alt="Profile" class="user-pic" onclick="toggleMenu()" />
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                            alt="Profile" width="40px" />
                        <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
                    </div>
                    <hr />
                    <a href="/admin/dashboard/view/account" class="sub-menu-link">
                        <i class="material-icons">person</i>
                        <p>View Account</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/log" class="sub-menu-link">
                        <i class="material-icons">account_box</i>
                        <p>Visitors Log</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/pending" class="sub-menu-link">
                        <i class="material-icons">schedule</i>
                        <p>Pending Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/maintenance" class="sub-menu-link">
                        <i class="material-icons">build</i>
                        <p>Maintenance Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/settings" class="sub-menu-link">
                        <i class="material-icons">settings</i>
                        <p>Account Settings</p>
                        <span>></span>
                    </a>
                    <a href="#" id="logoutButton" class="sub-menu-link">
                        <i class="material-icons">logout</i>
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container pt-5 pb-5">
    <h1 class="container-title"><i class="fa-solid fa-gear modal-icon"></i>Account Settings</h1>

    <div class="pages-container">
        <a href="/admin/settings" id="appearance-link" data-path="/admin/settings">
            <button class="pages-link">Appearance</button>
        </a>
        <a href="/admin/settings/feedback-support" id="feedback-link" data-path="/admin/settings/feedback-support">
            <button class="pages-link">Feedback &amp; Support</button>
        </a>
        <a href="/admin/settings/password-reset" id="password-link" data-path="/admin/settings/password-reset">
            <button class="pages-link">Password Reset</button>
        </a>
        <a href="/admin/settings/activity-log/{{admin_id}}" id="activity-link" data-path="/admin/settings/activity-log">
            <button class="pages-link">Activity Log</button>
        </a>
        <a href="/admin/settings/delete-account/{{admin_id}}" id="delete-link" data-path="/admin/settings/delete-account">
            <button class="pages-link">Delete Account</button>
        </a>
    </div>

    <div class="form-container">
        <h3>Change Password</h3>
        <p>Your new password must be different from previously used passwords.</p>

        <form id="updatePasswordForm" action="/api/auth/update-password" method="POST">
            <div>
                <div class="input-container" style="margin-bottom: 15px;">
                    <label for="currentPassword">Current Password:</label>
                    <input type="password" id="currentPassword" name="currentPassword" required>
                    <i class="fa-solid fa-unlock-keyhole"></i>
                    <p class="password-info">To change your password, please fill in the fields below.</p>
                </div>

                <div class="input-container" style="margin-bottom: 15px;">
                    <label for="newPassword">New Password:</label>
                    <input type="password" id="newPassword" name="newPassword" required>
                    <i class="fa-solid fa-unlock-keyhole"></i>
                </div>

                <div class="input-container" style="margin-bottom: 15px;">
                    <label for="confirmPassword">Confirm New Password:</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" required>
                    <i class="fa-solid fa-unlock-keyhole"></i>
                    <p class="password-info">Your password must contain at least 8 characters, it must also include at
                        least one uppercase letter, one lowercase letter, one number, and one special character.</p>
                </div>

                <input type="hidden" id="adminId" name="adminId" value="{{admin_id}}" />

                <div style="text-align: center;">
                    <button type="submit">
                        Update Password
                    </button>
                </div>
            </div>
        </form>

    </div>
</div>


<script src="/js/passwordReset.js"></script>
<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>

{{!-- <div class="pageContainer">
    <p>Change your password here.</p>
    <form id="updatePasswordForm" action="/api/auth/update-password" method="POST">
        <div
            style="max-width: 400px; margin: auto; padding: 20px; border: 1px solid #ddd; border-radius: 8px; font-family: Arial, sans-serif;">
            <h2 style="text-align: center; color: #4CAF50;">Change Password</h2>

            <div style="margin-bottom: 15px;">
                <label for="currentPassword" style="display: block; margin-bottom: 5px; color: #333;">Current
                    Password</label>
                <input type="password" id="currentPassword" name="currentPassword" required
                    style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            </div>

            <div style="margin-bottom: 15px;">
                <label for="newPassword" style="display: block; margin-bottom: 5px; color: #333;">New
                    Password</label>
                <input type="password" id="newPassword" name="newPassword" required
                    style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            </div>

            <div style="margin-bottom: 15px;">
                <label for="confirmPassword" style="display: block; margin-bottom: 5px; color: #333;">Confirm
                    New Password</label>
                <input type="password" id="confirmPassword" name="confirmPassword" required
                    style="width: 100%; padding: 10px; border: 1px solid #ccc; border-radius: 5px;">
            </div>


            <input type="hidden" id="adminId" name="adminId" value="{{admin_id}}" />

            <div style="text-align: center;">
                <button type="submit"
                    style="background-color: #4CAF50; color: white; padding: 10px 20px; border: none; border-radius: 5px; cursor: pointer;">
                    Update Password
                </button>
            </div>
        </div>
    </form>
</div> --}}