<div class="dashboard-container">
    <aside class="sidebar">
        <div class="sidebar-card">
            <div class="d-flex">
                <div class="logo">
                    <a href="/tenant/dashboard">
                        <img src="/images/hiveLight.png" id="logo" alt="Hive Logo" class="logo-img">
                    </a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <p class="menu-title">Menu</p>
                <li class="sidebar-item">
                    <a href="/tenant/dashboard" class="sidebar-link">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tenant/room-details" class="sidebar-link">
                        <i class="fas fa-door-open"></i>
                        <span>Room Details</span>
                    </a>
                </li>
                <p class="menu-title tracker">Tracker</p>
                <li class="sidebar-item">
                    <a href="/tenant/utilities" class="sidebar-link">
                        <i class="fas fa-lightbulb"></i>
                        <span>Utilities and Bills</span>
                    </a>

                <li class="sidebar-item">
                    <a href="/tenant/announcement" class="sidebar-link">
                        <i class="fas fa-bullhorn"></i>
                        <span>Announcement</span>
                    </a>
                </li>
                </li>
                <li class="sidebar-item active">
                    <a href="/tenant/visitors" class="sidebar-link">
                        <i class="fas fa-clipboard-check"></i>
                        <span>Visitors</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tenant/maintenance" class="sidebar-link">
                        <i class="fas fa-tools"></i>
                        <span>Maintenance</span>
                    </a>
                </li>
            </ul>
            </li>
            <li class="sidebar-item">
                <a href="/tenant/customize" class="sidebar-link">
                    <i class="fa-solid fa-gear"></i>
                    <span>Settings</span>
                </a>
            </li>
            <div class="sidebar-footer">
                <a href="#" id="logoutButton" class="logout-button sidebar-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </aside>

    <main class="main-content">
        <header class="dashboard-header">
            <div class="header-left">
                <h3 class="welcome-text">Welcome to Hive</h3>
                <h1 class="dashboard-title">Visitor Log</h1>
            </div>
        </header>

        <div class="upper-container">
            <div class="form">
                <h4>Visitor Form</h4>
                <a href="#" data-bs-toggle="modal" data-bs-target="#addVisitorModal"
                    class="btn btn-light btn-sm add-btn">
                    <i class="fa-solid fa-user-plus"></i>Who's Visiting?
                </a>
            </div>
            <div class="analytics-container">
                <div class="left-side">
                    <h4>VISITOR</br>Log Tab</h4>
                    <p class="left-p">View a detailed log of all visitors</p>
                </div>
                <i class="fa-sharp fa-solid fa-user-group"></i>
                <div class="analytics-cards">
                    <div class="analytics-card">
                        <h3 class="count">{{counts.pending}}</h3>
                        <p>Visitor Pre Approval</p>
                    </div>
                    <div class="analytics-card">
                        <h3 class="count">{{counts.approved}}</h3>
                        <p>Approved Visitors</p>
                    </div>
                    <div class="analytics-card">
                        <h3 class="count">{{counts.rejected}}</h3>
                        <p>Rejected Visitors</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="middle-container">
            <div class="middle-container-header">
                <h3 class="log-header regular">VISITORS LOG HISTORY | <span>Regular Visit</span></h3>
                <div class="search-bar">
                    <input class="form-control form-control-sm me-2 search" type="search" id="search"
                        placeholder="Search" name="search" aria-label="Search" autocomplete="off" required
                        value="{{lastSearchTerm}}">
                    <span class="search-icon">
                        <i class="material-icons">search</i>
                    </span>
                </div>
            </div>

            <div class="table-container table-responsive">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Visitor Name</th>
                            <th scope="col">Visitor's Affiliation</th>
                            <th scope="col">Date</th>
                            <th scope="col">Check In</th>
                            <th scope="col">Check Out</th>
                            <th scope="col">Contact No.</th>
                            <th scope="col" class="text-end">Purpose of Visit</th>
                        </tr>
                    </thead>
                    <tbody id="results">
                        {{#if regular}}
                        {{#each regular}}
                        <tr>
                            <td>{{this.visitorName}}</td>
                            <td>{{this.visitorAffiliation}}</td>
                            <td>{{this.visitDate}}</td>
                            <td>{{this.checkInTime}}</td>
                            <td>{{this.checkOutTime}}</td>
                            <td>{{this.contactInfo}}</td>
                            <td class="text-end">{{this.purpose}}</td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr>
                            <td colspan="7" class="text-center no-request">
                                No regular requests found.
                            </td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>


        <div class="bottom-container">
            <div class="middle-container-header">
                <h3 class="log-header overnight">VISITORS LOG HISTORY | <span>Overnight Visit</span></h3>
                <div class="search-bar">
                    <input class="form-control form-control-sm me-2 search" type="search" id="search"
                        placeholder="Search" name="search" aria-label="Search" autocomplete="off" required
                        value="{{lastSearchTerm}}">
                    <span class="search-icon">
                        <i class="material-icons">search</i>
                    </span>
                </div>
            </div>

            <div class="table-container table-responsive" style="max-height: 400px; overflow-y: auto;">
                <table class="table table-bordered">
                    <thead class="table-dark">
                        <tr>
                            <th scope="col">Visitor/s Name</th>
                            <th scope="col">Date and Time of Check In</th>
                            <th scope="col">Date and Time of Check Out</th>
                            <th scope="col">Contact No.</th>
                            <th scope="col">Purpose of Visit</th>
                            <th scope="col" class="text-end">Status</th>
                        </tr>
                    </thead>
                    <tbody id="results">
                        {{#if overnight}}
                        {{#each overnight}}
                        <tr>
                            <td>{{this.visitorName}}</td>
                            <td>{{this.checkInDateTime}}</td>
                            <td>{{this.checkOutDateTime}}</td>
                            <td>{{this.contactInfo}}</td>
                            <td>{{this.purpose}}</td>
                            <td class="text-end">{{this.status}}</td>
                        </tr>
                        {{/each}}
                        {{else}}
                        <tr>
                            <td colspan="6" class="text-center no-request">
                                No overnight requests found.
                            </td>
                        </tr>
                        {{/if}}
                    </tbody>
                </table>
            </div>
        </div>
    </main>

    <div class="modal fade" id="addVisitorModal" tabindex="-1" aria-labelledby="addVisitorModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addVisitorModalLabel">Add Visitor</h5>
                    <button class="btn-close" type="button" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="button-group">
                        <button type="button" class="btn-primary regular" id="regularButton">Regular</button>
                        <button type="button" class="btn-primary overnight" id="overnightButton">Overnight</button>
                    </div>
                    <h1>VISITORS INFO</h1>
                    <form action="#" method="POST" id="visitorForm">
                        <input type="hidden" id="establishmentId" name="establishmentId" value="{{establishmentId}}">

                        <div class="row mb-3">
                            <div class="col">
                                <label for="visitorFirstName" class="form-label">First Name</label>
                                <input type="text" class="form-control form-control-sm" id="visitorFirstName"
                                    name="visitorFirstName" required>
                            </div>
                            <div class="col">
                                <label for="visitorLastName" class="form-label">Last Name</label>
                                <input type="text" class="form-control form-control-sm" id="visitorLastName"
                                    name="visitorLastName" required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="visitorAffiliation" class="form-label">Association with Tenant</label>
                                <input type="text" class="form-control form-control-sm" id="visitorAffiliation"
                                    name="visitorAffiliation" required>
                            </div>
                            <div class="col">
                                <label for="contactInfo" class="form-label">Mobile No.</label>
                                <input type="number" class="form-control form-control-sm" id="contactInfo"
                                    name="contactInfo" required>
                            </div>
                            <div class="col">
                                <label for="purpose" class="form-label">Purpose of Visit</label>
                                <input type="text" class="form-control form-control-sm" id="purpose" name="purpose"
                                    required>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col">
                                <label for="visitDateFrom" class="form-label">Check In</label>
                                <input type="datetime-local" class="form-control form-control-sm" id="visitDateFrom"
                                    name="visitDateFrom" required>
                            </div>
                            <div class="col">
                                <label for="visitDateTo" class="form-label">Check Out</label>
                                <input type="datetime-local" class="form-control form-control-sm" id="visitDateTo"
                                    name="visitDateTo" required>
                            </div>
                        </div>
                        <button class="btn btn-secondary">Cancel</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>

<script src="/js/tenantVisitors.js"></script>
<script>
    window.onload = function () {
        const theme = localStorage.getItem('theme');

        const logo = document.getElementById('logo');

        if (theme === 'dark') {
            logo.src = '/images/hiveDark.png';
        } else {
            logo.src = '/images/hiveLight.png';
        }
    };
</script>