{{!-- <h1>Welcome, ${adminFirstName}</h1>
<p>Manage your application here.</p>
<button id="logoutButton" class="btn btn-danger">Logout</button>

<script src="/js/logout.js"></script> --}}

{{!-- <header> <!-- this is the header section  -->
    <div class="logo">
        <img src="/images/hiveLight.png" width="120px" />
    </div>

    <div class="tabs">
        <ul>
            <li><a href="#">Dashboard</a></li>
            <li><a href="#">Announcements</a></li>
            <li><a href="#">Management</a></li>
        </ul>
    </div>

    <div class="profile"></div>
</header>

<div class="hr-container">
    <hr />
</div> --}}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <img class="navbar-brand" src="/images/hiveLight.png" alt="Hive Logo" width="100px"/>
    {{!-- <a class="navbar-brand" href="#">Navbar</a> --}}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/view-tenants">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Announcement</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Management</a>
        </li>
      </ul>
      <form class="d-flex" role="search" method="POST" action="/admin/dashboard/userManagement" novalidate>
        <input class="form-control me-2" type="search" placeholder="Search" name="search" aria-label="Search" required>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>

<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-6">
      <h1>Tenants</h1>
    </div>
    <div class="col-6 d-flex justify-content-end">
      <a href="/admin/dashboard/userManagement/add" type="button" class="btn btn-primary align-self-center">+ Add Tenant</a>
    </div>
  </div>

  <table class="table table-bordered">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Email</th>
        <th scope="col">Gender</th>
        <th scope="col">Mobile Number</th>
        <th scope="col" class="text-end">Acton</th>
      </tr>
    </thead>
    <tbody>
      {{#if rows.length}}
      {{#each rows}}
      <tr>
        <th scope="row">{{this.tenant_id}}</th>
        <td>{{this.tenantFirstName}}</td>
        <td>{{this.tenantLastName}}</td>
        <td>{{this.tenantEmail}}</td>
        <td>{{this.gender}}</td>
        <td>{{this.mobileNum}}</td>
        <td class="text-end">
          <a href="#" type="button" class="btn btn-light btn-small"><i class="material-icons">visibility</i> Assign</a>
          <a href="/admin/dashboard/userManagement/editTenant/{{this.tenant_id}}" type="button" class="btn btn-light btn-small"><i class="material-icons">edit</i> Edit</a>
          <a href="#" type="button" onclick="deleteTenant('{{this.tenant_id}}')" class="btn btn-light btn-small"><i class="material-icons">person_remove</i>
            Delete</a>
        </td>
      </tr>
      {{/each}}
      {{else}}
      <tr>
        <td colspan="7" class="text-center">No tenants found</td>
      </tr>
      {{/if}}
    </tbody>


  </table>
</div>

<script src="/js/userManagement.js"></script>