<div class="dashboard-container">
    <aside class="sidebar">
        <div class="sidebar-card">
            <div class="d-flex">
                <div class="logo">
                    <a href="/tenant/dashboard">
                        <img src="/images/hiveLight.png" alt="Hive Logo" class="logo-img">
                    </a>
                </div>
            </div>
            <ul class="sidebar-nav">
                <p class="menu-title">Menu</p>
                <li class="sidebar-item">
                    <a href="/tenant/dashboard" class="sidebar-link">
                        <i class="fas fa-columns"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li class="sidebar-item active">
                    <a href="/tenant/room-details" class="sidebar-link">
                        <i class="fas fa-door-open"></i>
                        <span>Room Details</span>
                    </a>
                </li>
                <p class="menu-title tracker">Tracker</p>
                <li class="sidebar-item">
                    <a href="/tenant/utilities" class="sidebar-link">
                        <i class="fas fa-lightbulb"></i>
                        <span>Utilities and Bills</span>
                    </a>
                </li>
                <li class="sidebar-item">
                    <a href="/tenant/announcement" class="sidebar-link">
                        <i class="fas fa-bullhorn"></i>
                        <span>Announcement</span>
                    </a>
                </li>
            </ul>
            <div class="sidebar-footer">
                <a href="#" id="logoutButton" class="logout-button sidebar-link">
                    <i class="fas fa-sign-out-alt"></i>
                    <span>Logout</span>
                </a>
            </div>
        </div>
    </aside>

    <div class="main-content">
    <header class="section-header">
        <h3 class="title-profile">
            <i class="material-icons dots">more_horiz</i> Tenant Profile
        </h3>
    </header>

    <section class="card">
        <div class="card__content">
            <div class="card__profile">
                <img src="{{#if tenant.tenantProfile}}/images/upload/{{tenant.tenantProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                    alt="Tenant Profile Picture" width="80px">
            </div>

            <div class="card__details">
                <div class="card__row">
                    <div class="card__section">
                        <h1>Name:</h1>
                        <span>{{tenant.tenantFirstName}} {{tenant.tenantLastName}}</span>
                    </div>
                    <div class="card__section">
                        <h1>Email:</h1>
                        <span>{{tenant.tenantEmail}}</span>
                    </div>
                </div>

                <div class="card__row">
                    <div class="card__section">
                        <h1>Gender:</h1>
                        <span>{{tenant.gender}}</span>
                    </div>
                    <div class="card__section">
                        <h1>Mobile Number:</h1>
                        <span>{{tenant.mobileNum}}</span>
                    </div>
                </div>

                <div class="card__row">
                    <div class="card__section">
                        <h1>Guardian Name:</h1>
                        <span>{{tenant.tenantGuardianName}}</span>
                    </div>
                    <div class="card__section">
                        <h1>Guardian Number:</h1>
                        <span>{{tenant.tenantGuardianNum}}</span>
                    </div>
                </div>

                <a href="/tenant/room-details/edit/account" class="btn btn--edit-profile">
                    <i class="material-icons">edit</i> Edit Profile
                </a>
            </div>
        </div>
    </section>
</div>
