<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
        <img class="navbar-brand logo" id="logo" src="/images/hiveLight.png" alt="Hive Logo" width="100px" />
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 justify-content-center">
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="/admin/dashboard">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/dashboard/userManagement">Manage Tenant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/manage/unit">Manage Unit</a>
                </li>
                <li class="nav-item">
                    <a href="/admin/utilities" class="nav-link">Manage Utilities</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/announcements">Announcements</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/tracker">Tracker</a>
                </li>
            </ul>

            <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                alt="Profile" class="user-pic" onclick="toggleMenu()" />
            <div class="sub-menu-wrap" id="subMenu">
                <div class="sub-menu">
                    <div class="user-info">
                        <img src="{{#if admin.adminProfile}}/images/upload/{{admin.adminProfile}}{{else}}/images/defaultUser.webp{{/if}}"
                            alt="Profile" width="40px" />
                        <h3>{{admin.adminFirstName}} {{admin.adminLastName}}</h3>
                    </div>
                    <hr />
                    <a href="/admin/dashboard/view/account" class="sub-menu-link">
                        <i class="material-icons">person</i>
                        <p>View Account</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/log" class="sub-menu-link">
                        <i class="material-icons">account_box</i>
                        <p>Visitors Log</p>
                        <span>></span>
                    </a>
                    <a href="/admin/visitors/pending" class="sub-menu-link">
                        <i class="material-icons">schedule</i>
                        <p>Pending Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/maintenance" class="sub-menu-link">
                        <i class="material-icons">build</i>
                        <p>Maintenance Requests</p>
                        <span>></span>
                    </a>
                    <a href="/admin/settings" class="sub-menu-link">
                        <i class="material-icons">settings</i>
                        <p>Account Settings</p>
                        <span>></span>
                    </a>
                    <a href="#" id="logoutButton" class="sub-menu-link">
                        <i class="material-icons">logout</i>
                        <p>Logout</p>
                        <span>></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="container">
  <h3><i class="material-icons dots">more_horiz</i>Admin Profile</h3>
  <div class="card">
    <div class="card__content">
      <div class="card__profile">
        {{#if admin.adminProfile}}
        <img src="/images/upload/{{admin.adminProfile}}" alt="User Profile">
        {{else}}
        <img src="/images/defaultUser.webp" alt="User Profile">
        {{/if}}
      </div>
      <div class="card__details">
        <div class="card__title">
          <h1>Name:</h1>
          <h2>{{admin.adminFirstName}} {{admin.adminLastName}}</h2>
        </div>
        <div class="card__email">
          <h1>Email:</h1>
          <h2>{{admin.adminEmail}}</h2>
        </div>
        <div class="card__about">
          <h1>Establishment Name:</h1>
          <h2>{{admin.eName}}</h2>
        </div>
        <a href="/admin/dashboard/edit/account" class="view"><i class="material-icons">edit</i>Edit Profile</a>
      </div>
    </div>
  </div>
</div>


<script src="/js/viewAdminAccount.js"></script>
<script>
    window.onload = function() {
    const theme = localStorage.getItem('theme');

    const logo = document.getElementById('logo');

    if (theme === 'dark') {
        logo.src = '/images/hiveDark.png';
    } else {
        logo.src = '/images/hiveLight.png';
    }
};
</script>